@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body,
input {
  font-family: "Poppins", sans-serif;
}

.container-user {
  position: relative;
  width: 100%;
  /* background-color: rgb(203, 210, 250); */
  background-image: linear-gradient(-45deg, #4481eb 0%, #0f242b 100%);

  /* min-height: 80vh; */
  height: 800px;
  overflow: scroll;
  top: 10vh;
  border-radius: 20px;
}

.container-user::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
